spring:
  profiles:
    active: local

server:
  port: 8080
  servlet:
    context-path: /project-laas

---

management:
  endpoint:
    health:
      show-details: never
---

spring:
  config:
    activate:
      on-profile: local
  jpa:
    database: POSTGRESQL
    show-sql: false
    hibernate:
      ddl-auto: create-drop
  datasource:
    url: jdbc:postgresql://localhost:5432/project-laas
    username: postgres
    password: SuperVeiligWachtwoord
    driverClassName: org.postgresql.Driver

---

spring:
  config:
    activate:
      on-profile: cloud
  jpa:
    database: POSTGRESQL
    show-sql: false
    hibernate:
      ddl-auto: create-drop
  datasource:
    url: jdbc:postgresql://localhost:5432/laas-cloud
    username: postgres
    password: Geheim123
    driverClassName: org.postgresql.Driver